
.stats-section {
  display: flex; 
  justify-content: space-between;
  padding: 40px;
  background-color: var(--overlay-color); 
  font-family: Inter, sans-serif;
  text-align: center;
  flex-wrap: wrap;
}

.stats-card {
  flex: 1; 
  margin: 10px; 
  min-width: 200px; 
}

.stats-card-body {
  padding: 20px;
}

.stats-card-title {
  font-size: 36px;
  color: var(--accent-color); 
  margin-bottom: 10px;
}

.stats-card-text {
  font-size: 14px;
  color: var(--color-under-block-header); 
}

@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    align-items: center;
  }

  .stats-card {
    max-width: 100%;
    margin: 10px 0;
  }
}