.history-section {
  padding: 50px 0;
  background-color: var(--light-accent-color);
  text-align: center;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-item {
  flex: 1 0 100%;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: var(--light-accent-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--secondary-text-color) (0, 0, 0, 0.1);
  transition: transform 0.6s ease;
}

.carousel-year {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-under-block-header);
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.carousel-description {
  font-size: 16px;
  color: var(--color-under-block-header);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--color-under-block-header);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--color-under-block-header);
}

@media (min-width: 576px) {
  .carousel-item {
    flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  .carousel-item {
    flex: 1 0 33.333%;
  }
}

@media (min-width: 992px) {
  .carousel-item {
    flex: 1 0 25%;
  }
}