.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: var(--light-shade-color);
  flex-wrap: wrap; 
}

.features-section__content {
  max-width: 600px;
  flex: 1 1 100%; 
}

.features-section__heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.features-section__subheading {
  font-size: 20px;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.feature-text {
  max-width: 500px;
}

.feature-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.feature-description {
  font-size: 16px;
  margin: 0;
}

.features-section__image {
  flex-shrink: 0;
  flex: 1 1 100%; 
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.features-section__image-content {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .features-section__content {
    flex: 1 1 50%; 
  }
  .features-section__image {
    flex: 1 1 50%; 
    margin-top: 0; 
  }
}