.gallery-section {
    padding: 50px;
    background-color: var(--light-shade-color);
    text-align: center;
    position: relative;
  }
  .galery-image {
    background-image: url(../img/about-us/aboutusgallery.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  }
.tree {
  width: 40px;
  height: auto;
}
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .section-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .gallery-image {
    width: calc(33.333% - 20px);
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .gallery-image {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .gallery-image {
      width: 100%;
    }
  }