.history-section {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
  }
  .carousel-inner {
    display: flex;
    justify-content: center;
  }
  .carousel-item {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .carousel-year {
    font-size: 18px;
    font-weight: bold;
    color: #6c757d;
  }
  .carousel-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  .carousel-description {
    font-size: 16px;
    color: #6c757d;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #6c757d;
  }
  .carousel-indicators [data-bs-target] {
    background-color: #6c757d;
  }