.about-section {
  padding: 40px;
  font-family: Inter, sans-serif;
}

.about-section__flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.about-section__image-container {
  flex: 1;
}

.about-section__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section__content {
  flex: 2;
  max-width: 600px;
}
.about-section__tree-icon {
  background-image: url(../img/about-us/aboutusfonphoto.png);
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.about-section__tree-icon-img {
  width: 40px;
  height: auto;
  }

.about-section__title {
  font-size: 36px;
  color: var(--dark-shade-color);
  margin-bottom: 10px;
}

.about-section__subtitle {
  font-size: 18px;
  color: var(--subtitle-color);
  margin-bottom: 20px;
}

.about-section__text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--subtitle-color);
  margin-bottom: 20px;
}

.about-section__features {
  margin-bottom: 20px;
}

.about-section__feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-section__icon {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

.about-section__feature-text {
  font-size: 16px;
  color: var(--dark-shade-color);
}

.about-section__book-now {
  margin-top: 20px;
}

.about-section__book-now-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--book-now-button-color);
  color: var(--light-shade-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.about-section__book-now-link:hover {
  background-color: var(--accent-color);
}

@media (max-width: 768px) {
  .about-section__flex {
    flex-direction: column;
    align-items: center;
  }

  .about-section__content {
    max-width: 100%;
  }
}
