.header {
    background: 
        linear-gradient(rgba(45, 45, 45, 0.56), rgba(45, 45, 45, 0.56)),
        url(../img/bid-wood-cabin/photo/roof.jpeg);
    background-size: cover;
    background-position: 50% 75%;
}