.contact-form__container {

}
.contact-form__details-container {

}
.contact-form__icon {

}
.contact-form__title {
    color: var(--dark-shade-color);
}
.contact-form__text {
    color: var(--subtitle-color);
}
.contact-form__address-container {

}
.contact-form__address {}
.contact-form__address-label {
    color: var(--dark-accent-color);
}
.contact-form__address-text {
    color: var(--dark-text-color);
}
.contact-form__contacts-container {

}
.contact-form__contacts {}
.contact-form__contacts-label {
    color: var(--dark-accent-color);
}
.contact-form__contacts-item {
    color: var(--dark-text-color)
}
.contact-form__contacts-link {
    color: var(--dark-text-color);
    text-decoration: none;
}
.contact-form__form-container {
    display: flex;
    flex-direction: column;
}
.contact-form__input {}
.contact-form__button {}

@media (min-width: 768px) {
    .contact-form__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}

