.contacts__table-form-background-container {
  background-color: var(--block-title-color);
}
.contacts__table-form-container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}
.contact-table__container {
  padding-top: 90px;
  padding-bottom: 30px;
}
.contact-table__background-container {
  background: url(../img/contacts/background.png) no-repeat;
  background-size: contain;
}
.contact-table__logo {
  width: 50px;
}
.contact-table__title {
  font-size: 34px;
  color: var(--dark-shade-color);
  font-weight: 600;
  margin-top: 20px;
}
.contact-table__text {
  font-size: 19px;
  font-family: Inter, sans-serif;
  color: var(--subtitle-color);
  font-weight: 500;
  line-height: 150%;
  margin-top: 50px;
}
.contact-table__contacts-container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-table__icon-decorator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 12px;
  margin-right: 7.5px;
  background-color: var(--light-shade-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-table__icon {
  width: 26px;
  height: 26px;
}
.contact-table__contacts {
  margin-left: 7.5px;
}
.contact-table__contacts-label {
  color: var(--dark-accent-color);
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 150%;
}
.contact-table__contacts-text {
  color: var(--dark-text-color);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}
.contact-table__contacts-link {
  color: var(--dark-text-color);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  text-decoration-color: var(--dark-text-color);
  line-height: 150%;
  overflow-wrap: anywhere;
}

.contact-form__form-container {
  margin-top: 60px;
}
.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__input-field {
  margin-bottom: 24px;
  border-bottom-width: 2px;
  border-bottom-color: var(--contact-form-boder-color);
  border-bottom-style: solid;
}

.contact-form__input {
  margin-top: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  width: 100%;
  background-color: var(--light-accent-color);
  color: var(--dark-text-color);
  cursor: text;
  font-size: 15px;
  font-weight: 400;
  text-overflow: ellipsis;
  /* placeholder color should be lighter */
  /* borders of active field should be blue */
}

.contact-form__button {
  margin-top: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--dark-accent-color);
  font-weight: 700;
  color: var(--link-color-light);
}

.contacts__illustration-container {
  margin-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .contacts__table-form-container {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: row;
    align-items: flex-end;
  }
  .contact-table__container {
    flex: 1;
  }
  .contact-table__title {
    font-size: 40px;
  }
  .contact-table__icon-decorator {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 7.5px;
  }
  .contact-table__icon {
    width: 40px;
    height: 40px;
  }
  .contact-form__container {
    flex: 1;
  }
  .contact-form__background-container {
    padding-bottom: 30px;
    padding-left: 33%;
  }
}
