.contact-form__container {
background-color: var(--block-title-color);
padding-top: 90px;
}
.contact-form__background-container{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 30px;
    background: url(../img/contacts/background.png) no-repeat;
    background-size: contain;
}

.contact-form__form-container {}
.contact-form__form {
    display: flex;
    flex-direction: column;
}
.contact-form__input {}
.contact-form__button {}

@media (min-width: 768px) {
    .contact-form__container {

    }
}

