body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.gallery-first {
    width: 62%;
}

.gallery-item-large {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-down {
    display: flex;
    gap: 10px;
    width: 20%;
    justify-content: center; /* Center items horizontally */
}

.gallery-item {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Preserve aspect ratio of image */
    transition: transform 0.5s;
}

.lightbox-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
}

.prev, .next {
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.gallary-headtext {
    font-size: 2em; /* Adjust font size as needed */
    color: #7c782f;
    animation: fadeIn 4s;
}


.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

svg {
    transition: all 0.3s ease;
}

svg:hover path {
    stroke: #ea9449; /* Зміна кольору лінії при наведенні */
}

svg:hover text {
    
    fill: #ea9449; /* Зміна кольору тексту при наведенні */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.contact-form-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f7f7f7;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}