html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Madefor, Helvetica, sans-serif;
  }
  
  
  body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .header {
    background-image: url("/img/geodesic_dome/pictures/geodesic_dome.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 432px;
    width: 100%;
  }

  .header__background-color {
    display: flex;
    width: 100%;
    height: 432px;
    background-color: rgba(45, 45, 45, 0.4);
  }

 .header__nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15%;
    padding-left: 11.5%;
    padding-bottom: 30px;
    height: 135px;
  }
  
  .header__logo {
    display: flex;
    width: 43px;
    height: 43px;
    cursor: pointer;
  }
  
  .header__menu {
    margin-left: 3%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 4%;
    letter-spacing: 1px;
  }
  
  
  .header__menu-link {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    white-space: nowrap;
  }
  
  .header__menu-link:hover {
    color: #f58134;
  }

  .header__tagline {
    color: #e2e2e2;
    font-family: inherit;
    font-style: italic;
    margin-left: 15%;
    white-space: nowrap;
  }

  .header__social {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 26px;
    margin-left: 7.5%;
  }


  .header__social-link img {
    width: 16px;
  }

  .header__hero {
    position: absolute;
    top: 28%;
    right: 47%;
    width: 42%;
    white-space: nowrap;
  }

  .header__hero-content {
    color: #ffffff
  }

  .header__hero-title {
    font-size: 48px;
  }