@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --brand-color: #ea9449;
    --dark-accent-color: #7c782f;
    --light-accent-color: #f9f9f7;
    --dark-shade-color: #2d2d2d;
    --light-shade-color: #FFFFFF;
    --link-color: #2d2d2d;
    --link-color-light: #FFFFFF;
    --link-hover-color: #7c782f;
    --subtitle-color: #686868;
    --content-text-color: #808080;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
  width: 100%;
  display: block;
}