@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #ea9449;
  --dark-accent-color: #7c782f;
  --light-accent-color: #f9f9f7;

  --dark-shade-color: #2d2d2d;
  --light-shade-color: #ffffff;

  --link-color: #2d2d2d;
  --link-color-light: #ffffff;
  --link-hover-color: #7c782f;

  --color-under-block-header: #989898;

  --block-title-color: #f9f9f7;
  --block-subtitle-color: #e2e0dd;
  --subtitle-color: #686868;
  --dark-text-color: #808080;
  --light-text-color: #ffffff;
  --book-now-button-color: #7c782f;

  --font-family: "Work Sans", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --font-size-base: 16px;
  --font-size-large: 2.5em;
  --font-size-medium: 1.25em;
  --font-size-small: 0.875em;
  --font-size-button: 12.8px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  scroll-behavior: smooth;
  word-wrap: break-word;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.overflow-hidden {
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.video-and-reviews, .video-section, .reviews {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}