.video-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh; 
    overflow: hidden; 
  }
  
  .video-section__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-section__iframe {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover; 
  }

  
  
  
