@import "global.css";
/*Rostyslav Zadyraichuk*/
@import "global.header-nav.css";
@import "index.header-hero.css";
@import "index.infrastructure.css";
/*Andrew Tandyriak*/
@import "footer-style.css";

.header {
    background-image: url("../img/index/intro.png");
    background-size: 1700px;
    background-clip: padding-box;
    background-position-x: 40%;
}