<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://res2.weblium.site/res/65a4dd651ae638000e4a167b/65c5f7ddbd7a9b000f341560_optimized"
      sizes="16x16"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about-us.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></div>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.header-hero.partial.html"
      ></section>
    </header>
    <main class="main-content">
      <section class="about-section">
        <img src="img/about-us/aboutus.jpeg" alt="people" class="about-image">
        <h2 class="section-title">About Us</h2>
        <p class="section-subtitle">Allow yourself a refined and relaxing holiday.</p>
        <p class="section-text">
          With nature right at your doorstep, our glamping provides a tranquil escape from the hustle and bustle of everyday life, inviting you to reconnect with the great outdoors in style and comfort.
        </p>
        <ul class="amenities-list">
          <li>Luxury tents, wood cabins, and geodesic domes;</li>
          <li>All amenities are included;</li>
          <li>Tasty breakfast and activities with professional guides.</li>
        </ul>
        <p class="section-text">
          Whether you're embarking on a romantic retreat, a family adventure, or a solo sojourn, Hidden Heaven offers an idyllic escape where cherished memories are made and cherished.
        </p>
        <div class="book-now">
          <a href="habitations.html" class="book-now-link">Book Now</a>
        </div>
      </section>
    
      <section class="stats-section">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">1.6k</h3>
            <p class="card-text">GUESTS IN 2023</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">24</h3>
            <p class="card-text">ACCOMMODATIONS</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">5,069</h3>
            <p class="card-text">ACRES OF FOREST</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">15</h3>
            <p class="card-text">EMPLOYEES ON SITE</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">50+</h3>
            <p class="card-text">DIFFERENT ACTIVITIES</p>
          </div>
        </div>
      </section>
    
      <section class="features-section">
        <p class="section-heading">Giving You The Best Experience</p>
        <p class="section-subheading">Hidden Heaven is a great location for getaways.</p>
        <div class="feature">
          <img src="img/about-us/aboutustent.svg" alt="Tent" class="feature-icon">
          <p class="feature-title">The Wilderness</p>
          <p class="feature-description">Hidden Heaven is located deep in Washington forests near the border with Canada.</p>
        </div>
        <div class="feature">
          <img src="img/about-us/aboutuspicnic.svg" alt="Picnic" class="feature-icon">
          <p class="feature-title">Local Food</p>
          <p class="feature-description">We serve breakfasts and offer dinners made from local ingredients from nearby farms.</p>
        </div>
        <div class="feature">
          <img src="img/about-us/aboutuscampervan.svg" alt="Campervan" class="feature-icon">
          <p class="feature-title">Easy to Reach</p>
          <p class="feature-description">We have parking lots and offer transfer service from Seattle and other neighboring cities.</p>
        </div>
        <div class="feature">
          <img src="img/about-us/aboutusmanwoman.webp" alt="Tourists" class="feature-icon">
        </div>
      </section>
    
      <section class="gallery-section">
        <h2 class="section-title">Activity Gallery</h2>
        <p class="section-subtitle">Enjoy your stay at Hidden Heaven and have fun with your family or friends.</p>
        <img src="img/about-us/aboutuspeopledog.webp" alt="People and dog" class="gallery-image">
        <img src="img/about-us/aboutusroom.webp" alt="Room" class="gallery-image">
        <img src="img/about-us/aboutusfamilly.webp" alt="Family" class="gallery-image">
        <img src="img/about-us/aboutusbad.webp" alt="Bath" class="gallery-image">
        <img src="img/about-us/aboutusnatur.webp" alt="Nature" class="gallery-image">
        <img src="img/about-us/aboutusmusic.webp" alt="Music" class="gallery-image">
      </section>
    
      <section class="history-section">
        <div id="carouselaboutus" class="carousel historyaboutus">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselaboutus" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselaboutus" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselaboutus" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselaboutus" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselaboutus" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="carousel-year">2017</p>
              <hr>
              <p class="carousel-title">Conception of the Idea</p>
              <p class="carousel-description">The concept of our glamping was born out of a desire to offer travelers a unique and immersive outdoor experience.</p>
            </div>
            <div class="carousel-item">
              <p class="carousel-year">2018</p>
              <hr>
              <p class="carousel-title">Site Selection</p>
              <p class="carousel-description">After careful consideration, a suitable location near the border with Canada in Washington was selected for Glamping.</p>
            </div>
            <div class="carousel-item">
              <p class="carousel-year">2019</p>
              <hr>
              <p class="carousel-title">Development</p>
              <p class="carousel-description">We began Construction works to develop all the necessary infrastructure for our Hidden Heaven Glamping.</p>
            </div>
            <div class="carousel-item">
              <p class="carousel-year">2021</p>
              <hr>
              <p class="carousel-title">Grand Opening</p>
              <p class="carousel-description">We officially opened our doors to guests, offering a unique glamping experience amidst the beauty of Washington.</p>
            </div>
            <div class="carousel-item">
              <p class="carousel-year">2023</p>
              <hr>
              <p class="carousel-title">Expansion</p>
              <p class="carousel-description">Plans are underway to add new accommodations, enhance existing facilities, and introduce more activities.</p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselaboutus" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselaboutus" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    
      <section class="events-section">
        <div class="events-image-container">
          <img src="img/about-us/aboutusdansing.jpeg" alt="Dancing" class="events-image">
        </div>
        <div class="events-text">
          <p class="events-title">Your Event, Our Venue</p>
          <p class="events-description">Celebrate your special events at Hidden Heaven.</p>
          <p class="events-detail">Our glamping is a perfect place to celebrate your events and spend time with your colleagues or loved ones. Contact our managers to learn about the services and prices for hosting private events.</p>
        </div>
        <div class="accordionaboutus" id="accordionaboutus">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Wedding Ceremonies
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Hidden Heaven Glamping provides an enchanting backdrop for couples seeking a unique and intimate wedding experience. With its breathtaking natural surroundings and rustic charm, our glamping site offers the perfect setting for exchanging vows amidst the beauty of Washington's wilderness.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Birthday Parties
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Whether you're marking a milestone birthday or simply gathering with loved ones for a memorable celebration, our glamping site offers the perfect venue. From cozy wood cabins to spacious tents, guests can enjoy a variety of accommodations while enjoying outdoor activities, campfire gatherings, and delicious barbecue dinners.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Group Retreats
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Escape the hustle and bustle of city life and reconnect with nature at Hidden Heaven Glamping. Our glamping site is ideal for hosting group retreats, whether it's a yoga retreat, meditation getaway, or corporate retreat.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Team Building
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Forge stronger bonds and enhance teamwork with a memorable team-building retreat at Hidden Heaven Glamping. Our glamping site provides an idyllic backdrop for outdoor activities, adventure challenges, and collaborative workshops.</strong>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>    
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>