<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Wood Cabin</title>
    <link rel="stylesheet" href="css/big-wood-cabin.css" type="text/css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin.header-hero.partial.html"
      ></section>
    </header>
    <main>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin-gallery.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin-amenities.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin-guidelines.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin-price.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="big-wood-cabin-carousel.partial.html"
      ></div>

      <footer class="footer">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.footer-nav.partial.html"
        ></nav>
      </footer>
    </main>
  </body>
</html>
