<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Wood Cabin</title>
  </head>
  <body>
    <header class="header">
      <nav
        class="header__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main>
      <h1>Big Wood Cabin</h1>
      <p>1-6 PERSONS | 60M2 | FROM $250</p>
      <p>
        Enjoy quiet days with your family or friends in our big wood cabin in
        the Washington wilderness.
      </p>
      <div>
        <img
          width="400"
          src="img/bid-wood-cabin/photo/room.jpg"
          alt="room with table and stairs"
        />
        <img
          width="400"
          src="img/bid-wood-cabin/photo/kitchen.jpg"
          alt="kitchen"
        />
        <img
          width="400"
          src="img/bid-wood-cabin/photo/stairs.jpg"
          alt="room with table and stairs"
        />
        <img
          width="400"
          src="img/bid-wood-cabin/photo/bedroom.jpg"
          alt="bedroom"
        />
      </div>
      <div>
        <h2>Amenities</h2>
        <img src="img/bid-wood-cabin/icons/icon-line.svg" alt="black line" />
        <div class="container">
          <div class="section">
            <h2>Bedrooms & Bedding</h2>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-bed.svg"
                alt="Double-bed"
              />
              Double-bed: 1 (160x200)
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-conditioner.svg"
                alt="Air Conditioning"
              />
              Air Conditioning
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-bedding.svg"
                alt="Bedding"
              />
              Bedding
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-sofa.svg"
                alt="Sofa"
              />
              Sofa: 1 (160x200)
            </div>
          </div>
          <div class="section">
            <h2>Kitchen</h2>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-sink.svg"
                alt="Sink"
              />
              Sink
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-fridge.svg"
                alt="Fridge"
              />
              Fridge
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-plates-cutlery.svg"
                alt="Complete plates & cutlery"
              />
              Complete plates & cutlery (6)
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-kettle.svg"
                alt="Kettle"
              />
              Kettle
            </div>
          </div>
          <div class="section">
            <h2>Bathroom</h2>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-toilets.svg"
                alt="Toilets"
              />
              2 toilets
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-shower.svg"
                alt="Shower"
              />
              Shower
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-hair-drayer.svg"
                alt="Hair dryer"
              />
              Hair dryer
            </div>
            <div class="item">
              <img
                width="50"
                src="img/bid-wood-cabin/icons/icon-essentials.svg"
                alt="Essentials"
              />
              Essentials
            </div>
          </div>
        </div>
      </div>
      <section>
        <div>
          <h3>Glamping Retreat Guidelines</h3>
          <img src="img/bid-wood-cabin/icons/icon-line.svg" alt="" />
        </div>
        <div>
          <p><strong>01. Respect Nature:</strong></p>
          <p>
            Embrace the natural surroundings. Avoid disrupting local flora and
            fauna. Leave no trace and cherish the environment.
          </p>
          <p><strong>02. Quiet Hours:</strong></p>
          <p>
            Honor the tranquility of others. Adhere to designated quiet hours to
            ensure a peaceful experience for all guests.
          </p>
          <p>03. Campfire Safety:</p>
          <p>
            Exercise caution around campfires. Follow designated areas for fires
            and extinguish them completely before retiring for the night.
          </p>
          <p>04. Sustainable Practices:</p>
          <p>
            Support our eco-friendly initiatives. Conserve water, reduce waste,
            and participate in recycling efforts during your stay.
          </p>
          <p>05. Wildlife Etiquette:</p>
          <p>
            Observe wildlife from a distance. Avoid feeding or approaching
            animals, respecting their natural behaviors.
          </p>
          <p>06. Community Harmony:</p>
          <p>
            Foster a sense of community. Be considerate of fellow glampers,
            respecting their privacy and shared spaces.
          </p>
          <p>07. Check-Out Procedures:</p>
          <p>
            Follow check-out guidelines. Ensure the wood cabin is left in the
            same pristine condition you found it.
          </p>
          <p>08. Safety First:</p>
          <p>
            >Prioritize your safety. Familiarize yourself with emergency
            procedures and adhere to any posted guidelines for your well-being.
          </p>
          <img
            src="img/bid-wood-cabin/photo/men-girl.webp"
            alt="people staying aroud a fire"
          />
        </div>
      </section>
      <section>
        <div>
          <p><strong>Extra Services</strong></p>
          <img src="img/bid-wood-cabin/icons/icon-line.svg" alt="line" />
        </div>
        <div>
          <p>LATE CHECKOUT</p>
          <p>$10 P.P.</p>
          <p>The late checkout is possible from 2 p.m. till 8 p.m.</p>
        </div>
        <div> 
          <p>CLEANING FEE</p>
          <p>$20</p>
          <p>Don't want to clean the place on your own? No worries!</p>
        </div>
        <div>
          <p>BABY COT</p>
          <p>$10</p>
          <p>Please contact us in advance if you need one.</p>
        </div>
      </section>
      <section> 
        <div>
          <div>
           <p><strong>Seasonal Pricing</strong></p>
           <img src="img/bid-wood-cabin/icons/icon-line.svg" alt="line">
        </div>  
        <div>
          <p>01 JAN - 15 APRIL</p>
          <p>$250</p>
          <p>Enjoy the low season at a reasonable price.</p>
          <p>16 APRIL - 30 SEP</p>
          <p>$290</p>
          <p>Get the most of Hidden Heaven during the high season.</p>
          <p>01 OCT -31 DEC</p>
          <p>$250</p>
          <p>Explore Hidden Heaven in autumn and admire the nature.</p>
        </div>
      </section>
      <section>
        <p><strong>Related Habitations</strong></p>
      </section>
    </main>
    <footer>
      <nav
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer-nav.partial.html"
    ></nav>
    </footer>
  </body>
</html>
