<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gampling | Habitations</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://res2.weblium.site/res/65a4dd651ae638000e4a167b/65c5f7ddbd7a9b000f341560_optimized"
      sizes="16x16"
    />
    <link rel="stylesheet" href="css/habitations.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></div>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.header-hero.partial.html"
      ></section>
    </header>
    <main class="main">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.cards.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.special-offers.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.form.partial.html"
      ></div>
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
  <script type="module" src="./js/habitations.js"></script>
</html>
