<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gampling | Habitations</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://res2.weblium.site/res/65a4dd651ae638000e4a167b/65c5f7ddbd7a9b000f341560_optimized"
      sizes="16x16"
    />
    <link rel="stylesheet" href="css/footer-style.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.header-hero.partial.html"
      ></div>
    </header>
    <main class="main">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="habitations.cards.partial.html"
      ></div>
      <section class="special-offers">
        <div class="special-offers__container">
          <img
            class="amenity__icon"
            src="img/global/tree.svg"
            width="50"
            alt="tree"
          />
          <h2 class="special-offers__title">Special Offers</h2>
          <p class="special-offers__description">
            Get advantage of our special offers for your stay.
          </p>
          <p class="special-offers__description_continue">
            Explore our current promotions with three unbeatable discounts that
            will elevate your glamping experience even further.
          </p>
          <div class="special-offers__items">
            <div class="special-offers__item">
              <h3 class="special-offers__item-title">SAVE $50</h3>
              <h4 class="special-offers__item-name">Starry Nights Package</h4>
              <ul class="special-offers__item-features">
                <li>Complimentary stargazing tour;</li>
                <li>Upgraded tent amenities;</li>
                <li>Campfire exclusive access;</li>
                <li>Free souvenir Camp mug.</li>
              </ul>
              <a
                href="https://bookish-space-garbanzo-4jqrpx997g6qfw4-3000.app.github.dev/contacts"
                class="special-offers__button"
                >Request</a
              >
            </div>
            <div class="special-offers__item">
              <h3 class="special-offers__item-title">FREE ACTIVITIES</h3>
              <h4 class="special-offers__item-name">Nature Explorer Deal</h4>
              <ul class="special-offers__item-features">
                <li>2 complimentary activities;</li>
                <li>Morning yoga lessons;</li>
                <li>Breakfast included;</li>
                <li>Free souvenir Camp mug.</li>
              </ul>
              <a
                href="https://bookish-space-garbanzo-4jqrpx997g6qfw4-3000.app.github.dev/contacts"
                class="special-offers__button"
                >Request</a
              >
            </div>
            <div class="special-offers__item">
              <h3 class="special-offers__item-title">ENJOY 15% OFF</h3>
              <h4 class="special-offers__item-name">Weekday Serenity</h4>
              <ul class="special-offers__item-features">
                <li>Valid Friday to Sunday only;</li>
                <li>Tent Upgrade;</li>
                <li>Campfire access;</li>
                <li>Breakfast included.</li>
              </ul>
              <a
                href="https://bookish-space-garbanzo-4jqrpx997g6qfw4-3000.app.github.dev/contacts"
                class="special-offers__button"
                >Request</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
  </body>
</html>
